*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // this defines what 1 rem is 10px
  // 100% is 16px
  font-size: 62.5%;
}
/* This line is to set a default value for the body */
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  box-sizing: border-box;
}
